<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="heroPropertyFactory" class="com.liushu.game.fight.core.model.factory.HeroPropertyFactory"></bean>
    <bean id="heroFactory" class="com.liushu.game.fight.core.model.factory.HeroFactory">
        <property name="heroPropertyFactory" ref="heroPropertyFactory"/>
    </bean>

</beans>